/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

#frontbild {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/** Variables **********************************************/
/* portfolio tinkering */
/* COLORS  */
/* footer */
/* navigation bar border */
/* Set theme color *************************/
/************************************************************/
/**
 * Basic styling
 */
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 100;
  color: #666;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 20px; }

.alignright {
  float: right; }

hr {
  /* Inset, by Dan Eden */
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 50px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

/**
 * Links
 */
a {
  color: #666;
  text-decoration: none;
  /*
  &:visited {
      color: darken($brand-color, 15%); 
  }
  */ }
  a:hover {
    color: #166613;
    text-decoration: none; }

article a {
  color: #166613;
  font-weight: 100; }
  article a:hover {
    text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
  color: #666;
  border-left: 10px solid #ddd;
  padding-left: 25px;
  font-size: 18px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border-radius: 3px;
  background-color: #ddd; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (50px * 2));
  max-width: calc(800px - (50px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (50px));
      max-width: calc(800px - (50px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:before, .wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Site header   **********************************************************
 */
.site-header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  opacity: 0.75;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 56px;
  width: 100%;
  z-index: 50; }

.site-title {
  font-size: 20px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0; }
  .site-title:hover {
    text-decoration: none;
    color: #166613; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .page-link {
    line-height: 1.5em; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 10px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: fixed;
      top: 0px;
      right: 10px;
      text-align: right; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: line; } }

.header-bar {
  left: 0px;
  top: 0px;
  position: relative;
  font-size: 20px;
  display: block;
  opacity: 0.75;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  line-height: 3em;
  z-index: 25; }
  .header-bar h1 {
    color: #166613;
    font-size: 75px; }
  .header-bar h2 {
    font-size: 25px; }

/**
 * Site footer  **********************************************************
 */
.site-footer {
  border-top: 1px solid #333;
  font-size: 10px;
  background-color: #333;
  padding: 2px;
  color: #aaa;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 25px;
  width: 100%; }

/**
 * Pagination   **********************************************************
 */
.pagination {
  max-width: -webkit-calc(800px - (50px * 2));
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 50px; }

.paginationicon {
  font-size: 50px; }
  .paginationicon a {
    color: #166613; }

/**
 * Page content   **********************************************************
 */
.page-content {
  padding: 100px 0;
  /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */ }

.page-heading {
  font-size: 20px; }

.post-list {
  margin: 0px 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 40px; }

.contacticon {
  font-size: 60px;
  display: block;
  margin: 10px; }

.center {
  text-align: center; }

/**
 * Posts  **********************************************************
 */
.post-header {
  margin-bottom: 40px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content h2 {
  font-size: 42px; }
  @media screen and (max-width: 800px) {
    .post-content h2 {
      font-size: 28px; } }
.post-content h3 {
  font-size: 30px; }
  @media screen and (max-width: 800px) {
    .post-content h3 {
      font-size: 22px; } }
.post-content h4 {
  font-size: 20px; }
  @media screen and (max-width: 800px) {
    .post-content h4 {
      font-size: 18px; } }

.post-meta {
  font-size: 14px;
  color: #828282;
  margin-bottom: 0px; }

.post-link {
  display: block;
  font-size: 42px; }

/** Poem formatting ********************************************/
.poem-title {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .poem-title {
      font-size: 16px; } }

/** 
 * Portfolio grid **********************************************************
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.project {
  width: 33.33%;
  height: 170px;
  float: left;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px;
  background-color: #ddd; }

.thumbnail {
  width: 100%;
  height: 150px;
  overflow: hidden; }

.thumbnail img {
  width: 500px;
  height: auto;
  position: relative;
  left: -25%;
  top: -5%; }

.thumbnail a {
  float: left;
  position: relative;
  width: 100%;
  height: 150px; }

.thumbnail a span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #ddd;
  padding: 40px;
  text-align: center; }

.thumbnail a:hover span {
  display: block; }

/** 
 * Portfolio pages **********************************************************
*/
.blankbox {
  background: #166613; }

.img_row {
  height: 150px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  background-color: #ddd; }

.col {
  width: 100%;
  height: 100%;
  float: left;
  object-fit: cover;
  box-sizing: border-box;
  padding: 10px; }

.right {
  float: right; }

.one {
  width: 33.33%; }

.two {
  width: 66.66%; }

.three {
  width: 100%; }

.caption {
  height: 100%;
  color: #aaa;
  text-align: center;
  vertical-align: middle;
  font-size: 12px; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
